/* VARIABLES */
:root{
  --first-color: #4070F4;
  --second-color:#0E2431;
  --third-color: #fff;
  --fouth-color: #000;
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body{
  background-image: url(bar2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  background-position: 50% 50%;

}

ul {
  list-style: none;
}

a{
  background-color: transparent;
  color: white;
  font-size: 22px;
  top:0;
  text-decoration: none;
}

a:hover{
  color: #DAA520;
}

h1 {
  text-align: center;
   font-size: 450%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   padding: 0px;
   margin: 0px;
}
h2 {
  text-align: center;
   font-size: 250%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   padding: 0px;
   margin: 0px;
}
h3{
  font-style: none;
  padding: 0;
  margin: 0px 0px 15px 0px;
}

span{
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 20px;
  
  
}
p{
  font-size: 13px;

}

img{
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 50px;
  margin-bottom: 0px;

}

.boxFilter {
  background-color: rgba(255, 255, 255, 0.85);
  color: #333;
  padding: 1rem 2rem;
  margin: 25px;
}

.boxFilter2 {
  background-color: black;
  opacity: 0.85;
  color: white;
  padding: 1rem 2rem;
  margin: 25px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img1, .img2, .img3{

  width: 80%;
  border: 1px solid white;
  margin-bottom: 0px;
}

/* LAYOUT */
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}


/* NAV BAR */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}


@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--fouth-color);
    transition: .5s;
  }
}


.nav__item{
  margin-bottom: 2rem;
}

.nav__link{
  position: relative;
  color: var(--third-color);
}

.nav__link:hover{
  position: relative;
}

.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo{
  color: var(--third-color);
}

.nav__toggle{
  color: var(--third-color);
  font-size: 1.5rem;
  cursor: pointer;
}
/* Active Menu */
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/* Show Menu */
.show{
  right: 0;
}


/*
.naviBar  {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #101010;
  padding: 4px;
  box-shadow: 2px 2px 2px 2px black;
  } */
  
.socialMedia, .bottomHeader {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #101010;;
  overflow: hidden;
  width: 100%;
  padding: 1px;
  box-shadow: 2px 2px 2px 2px black;
}

.b1{
  font-size: 16px;
}
.b1:hover{
  color: #DAA520;
  background-color: #101010;
}


.container{
  font color: black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  max-width: 960px;
  height: auto;
  text-align: center;
  margin:0px auto;
}

.containerA{
  float: left;
  width: 45%;
  padding: 0px;
  margin-left: 20px
}

.containerB{
  
  float: left;
  width: 45%;
  padding: 0px;
  margin-left: 20px

  
}


.day-of-the-week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.grid-container {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 background-color: white;
 color: black;
 padding: 5px;
 
}
.grid-item {
 
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-size: 14px;
  text-align: top-left;
   
}
.sub-item{
  background-color: grey;
  opacity: .39;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.home__title {
  margin-top: 15px;

}

.date__title {
  margin-top: 100px;
}

.login__title {
  margin-top: 100px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}
.bcimg{
  position: left;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Media Queries */
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0rem;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--third-color);
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}



